html,body{
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html::-webkit-scrollbar {
    display: none;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh; /* 1vh = 1% view height*/
    width: 100%;
    position:relative;
    scroll-snap-align: start;
    z-index: 50;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis is vertical */
    align-items: center; /* cross-axis is horizontal */
    text-align: center;
}

.hello {
    color: #4EA8FF;
    /* 1rem = 16px, vw = 1% of viewport width */
    font-size: clamp(0.9rem, 2vw, 1.1rem); /* clamps a middle value */
    margin-bottom: 0.5rem;
}

.intro-content h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    color: white;
    margin: 0;
    line-height: clamp(4.5rem, 5vw, 6rem);
}

.inTouch {
    background-color: #2563EB;
    color: #ccc;
    font-size: clamp(0.75rem, 1vw, 1.25rem);
    padding: clamp(0.75rem, 0.85vw, 0.9rem);

}

.tagline {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 0.5rem 0 1rem 0;
    color: #aaa;
}

.description {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    width: 700px;
    margin: 0 auto 2rem auto;
    color: #aaa
}

.inTouch-butt {
    padding: 12px 24px;
    font-size: clamp(0.9rem, 2vw, 1rem);
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    color: white;
    background-color: #2563EB;
    margin-bottom: 2rem;
    z-index: 30;

}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(8px, 2vw, 16px)
}

.icon-link {
    display: inline-block;
    width: clamp(25px,4vw, 32px);
    height: clamp(25px,4vw, 32px);
    margin: 0 clamp(4px, 1vw, 8px);
}

.icon-link img {
    width: 100%;
    height: 100%;
    z-index: 30;
}

.icon-link:hover {
    transform: scale(1.15);
}

.star {
    position: absolute; /* keeps content in place */
    background: white;
    opacity: 0.7;
    /* Transforms into star*/
    will-change: opacity, transform, left, top;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%,
    79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8),
                0 0 4px rgba(255, 255, 255, 0.6),
                0 0 4px rgba(255, 255, 255, 0.4);
    z-index:0;
}

/* Controlled by minTwinkle and maxTwinkle */
@keyframes twinkle {
    0%, 100% { opacity: 0; transform: scale(0.2);}
    50% { opacity: 0.9; transform: scale(1);}
}

.milky-way {
    position: absolute;
    left: 40%;
    top: 30%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 100%;
    height: 300px;
    background: radial-gradient(
            ellipse farthest-side at center,
            rgba(255,255,255,0.4),
            rgba(255,255,255,0.1) 70%,
            transparent
    );
    filter: blur(30px);
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}

.arrow{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    color: #ccc;
    cursor: pointer;
    animation: bob 2s infinite ease-in-out;
    z-index: 30;
    width: 32px;
    height: 32px;
}

@keyframes bob {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh; /* 1vh = 1% view height*/
    position:relative;
    scroll-snap-align: start;
    z-index: 50;
}


.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(2rem, 4vw, 3rem);
    flex-wrap: wrap;
}

.about-left {
    flex: 1 1 10%;
    min-width: 300px;
}

.about-right {
    flex: 1 1 40%;
    min-width: 300px;
}

.section-title {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    color: #fff;
}

.about-right p {
    font-size: clamp(0.9rem, 2.2vw, 1.1rem);

    color: #aaa;
}

.about-img {
    width: clamp(30rem, 30vw, 30rem);
    height: clamp(35rem, 37.5vw, 40rem);
    display: block;
    object-fit: scale-down;
    border-radius: 8px;
}

.about-card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: clamp(30rem, 50vw, 60rem);
    min-height: clamp(5rem, 6vw, 6rem);
    gap: 8px;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.12);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.about-card:hover {
    background-color: rgba(37, 99, 235, 0.4);
}

.card-title {
    display: flex;
    align-items: center;
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    font-weight: 600;
    color: #fff;
    margin-bottom: 3px;
}

.card-icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    object-fit: contain;
}

.card-text {
    color: #CFCFCF;
    font-size: clamp(0.85rem, 1.9vw, 1.0rem);
    white-space: normal;
    word-wrap: break-word;
}

@media (max-width: 700px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }
    .about-left, .about-right {
        flex: 1 1 100%;
        min-width: 0;
    }
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh; /* 1vh = 1% view height*/
    position:relative;
    scroll-snap-align: start;
    z-index: 50;

}


.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 4vw, 3rem);
    flex-wrap: wrap;
    margin-left: 70px;
    max-width: 200px;
}

.skills-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: auto;
    min-height: auto;
    gap: 8px;
    padding: 10px;
    border: 5px solid rgba(37, 99, 235, 0.6);
    border-radius: 8px;
    background-color: black;
}

.skills-title {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    font-weight: 600;
    color: #fff;
    margin-bottom: 3px;
}

.skills-card-icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    object-fit: contain;
}

.milky-way-two {
    position: absolute;
    left: 40%;
    top: 30%;
    transform: translate(10%, 20%) rotate(-20deg);
    width: 50%;
    height: 300px;
    background: radial-gradient(
            ellipse farthest-side at center,
            rgba(255, 165, 0 ,0.4),
            rgba(255,255,255,0.1) 70%,
            transparent
    );
    filter: blur(30px);
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh; /* 1vh = 1% view height*/
    position:relative;
    scroll-snap-align: start;
    z-index: 50;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2rem, 4vw, 3rem);
    flex-wrap: wrap;
}

.project-title {
    color: white;
    font-size: clamp(6rem, 6vw, 6rem);
}